@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
body,
html {
  background-color: #222831;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #eeeeee;
  font-family: Helvetica;
  font-size: 16px;
}

.container {
  display: block;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

.row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(0, auto);
  grid-gap: 1em;
}

.row .col1-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.row .col1-3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.row .col1-4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.row .col1-5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
}

.row .col1-6 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
}

.row .col1-7 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / 8;
}

.row .col1-8 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
}

.row .col1-9 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-column: 1 / 10;
}

.row .col1-10 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1 / 11;
}

.row .col1-11 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  grid-column: 1 / 12;
}

.row .col1-12 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
}

.row .col2-3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.row .col2-4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
}

.row .col2-5 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
}

.row .col2-6 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2 / 7;
}

.row .col2-7 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
}

.row .col2-8 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 7;
  grid-column: 2 / 9;
}

.row .col2-9 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2 / 10;
}

.row .col2-10 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 9;
  grid-column: 2 / 11;
}

.row .col2-11 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
}

.row .col2-12 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 11;
  grid-column: 2 / 13;
}

.row .col3-4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

.row .col3-5 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
}

.row .col3-6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3 / 7;
}

.row .col3-7 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-column: 3 / 8;
}

.row .col3-8 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 6;
  grid-column: 3 / 9;
}

.row .col3-9 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-column: 3 / 10;
}

.row .col3-10 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3 / 11;
}

.row .col3-11 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 9;
  grid-column: 3 / 12;
}

.row .col3-12 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 10;
  grid-column: 3 / 13;
}

.row .col4-5 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
}

.row .col4-6 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / 7;
}

.row .col4-7 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4 / 8;
}

.row .col4-8 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4 / 9;
}

.row .col4-9 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-column: 4 / 10;
}

.row .col4-10 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 7;
  grid-column: 4 / 11;
}

.row .col4-11 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 8;
  grid-column: 4 / 12;
}

.row .col4-12 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 9;
  grid-column: 4 / 13;
}

.row .col5-6 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / 7;
}

.row .col5-7 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
}

.row .col5-8 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
}

.row .col5-9 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-column: 5 / 10;
}

.row .col5-10 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 6;
  grid-column: 5 / 11;
}

.row .col5-11 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 7;
  grid-column: 5 / 12;
}

.row .col5-12 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5 / 13;
}

.row .col6-7 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / 8;
}

.row .col6-8 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6 / 9;
}

.row .col6-9 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-column: 6 / 10;
}

.row .col6-10 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-column: 6 / 11;
}

.row .col6-11 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 6;
  grid-column: 6 / 12;
}

.row .col6-12 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-column: 6 / 13;
}

.row .col7-8 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7 / 9;
}

.row .col7-9 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7 / 10;
}

.row .col7-10 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7 / 11;
}

.row .col7-11 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7 / 12;
}

.row .col7-12 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7 / 13;
}

.row .col8-9 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8 / 10;
}

.row .col8-10 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8 / 11;
}

.row .col8-11 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8 / 12;
}

.row .col8-12 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8 / 13;
}

.row .col9-10 {
  -ms-grid-column: 9;
  -ms-grid-column-span: 2;
  grid-column: 9 / 11;
}

.row .col9-11 {
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-column: 9 / 12;
}

.row .col9-12 {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9 / 13;
}

.row .col10-11 {
  -ms-grid-column: 10;
  -ms-grid-column-span: 2;
  grid-column: 10 / 12;
}

.row .col10-12 {
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10 / 13;
}

.row .col11-12 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11 / 13;
}

.row .col12 {
  -ms-grid-column: 12;
  -ms-grid-column-span: 1;
  grid-column: 12/13;
}

.mt-1 {
  margin-top: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

.pt-1 {
  padding-top: 1em;
}

.pb-1 {
  padding-bottom: 1em;
}

.mt-1-m {
  margin-top: -1em;
}

.mb-1-m {
  margin-bottom: -1em;
}

.pt-1-m {
  padding-top: -1em;
}

.pb-1-m {
  padding-bottom: -1em;
}

.mt-2 {
  margin-top: 2em;
}

.mb-2 {
  margin-bottom: 2em;
}

.pt-2 {
  padding-top: 2em;
}

.pb-2 {
  padding-bottom: 2em;
}

.mt-2-m {
  margin-top: -2em;
}

.mb-2-m {
  margin-bottom: -2em;
}

.pt-2-m {
  padding-top: -2em;
}

.pb-2-m {
  padding-bottom: -2em;
}

.mt-3 {
  margin-top: 3em;
}

.mb-3 {
  margin-bottom: 3em;
}

.pt-3 {
  padding-top: 3em;
}

.pb-3 {
  padding-bottom: 3em;
}

.mt-3-m {
  margin-top: -3em;
}

.mb-3-m {
  margin-bottom: -3em;
}

.pt-3-m {
  padding-top: -3em;
}

.pb-3-m {
  padding-bottom: -3em;
}

.mt-4 {
  margin-top: 4em;
}

.mb-4 {
  margin-bottom: 4em;
}

.pt-4 {
  padding-top: 4em;
}

.pb-4 {
  padding-bottom: 4em;
}

.mt-4-m {
  margin-top: -4em;
}

.mb-4-m {
  margin-bottom: -4em;
}

.pt-4-m {
  padding-top: -4em;
}

.pb-4-m {
  padding-bottom: -4em;
}

.mt-5 {
  margin-top: 5em;
}

.mb-5 {
  margin-bottom: 5em;
}

.pt-5 {
  padding-top: 5em;
}

.pb-5 {
  padding-bottom: 5em;
}

.mt-5-m {
  margin-top: -5em;
}

.mb-5-m {
  margin-bottom: -5em;
}

.pt-5-m {
  padding-top: -5em;
}

.pb-5-m {
  padding-bottom: -5em;
}

.mt-6 {
  margin-top: 6em;
}

.mb-6 {
  margin-bottom: 6em;
}

.pt-6 {
  padding-top: 6em;
}

.pb-6 {
  padding-bottom: 6em;
}

.mt-6-m {
  margin-top: -6em;
}

.mb-6-m {
  margin-bottom: -6em;
}

.pt-6-m {
  padding-top: -6em;
}

.pb-6-m {
  padding-bottom: -6em;
}

.mt-7 {
  margin-top: 7em;
}

.mb-7 {
  margin-bottom: 7em;
}

.pt-7 {
  padding-top: 7em;
}

.pb-7 {
  padding-bottom: 7em;
}

.mt-7-m {
  margin-top: -7em;
}

.mb-7-m {
  margin-bottom: -7em;
}

.pt-7-m {
  padding-top: -7em;
}

.pb-7-m {
  padding-bottom: -7em;
}

.mt-8 {
  margin-top: 8em;
}

.mb-8 {
  margin-bottom: 8em;
}

.pt-8 {
  padding-top: 8em;
}

.pb-8 {
  padding-bottom: 8em;
}

.mt-8-m {
  margin-top: -8em;
}

.mb-8-m {
  margin-bottom: -8em;
}

.pt-8-m {
  padding-top: -8em;
}

.pb-8-m {
  padding-bottom: -8em;
}

.mt-9 {
  margin-top: 9em;
}

.mb-9 {
  margin-bottom: 9em;
}

.pt-9 {
  padding-top: 9em;
}

.pb-9 {
  padding-bottom: 9em;
}

.mt-9-m {
  margin-top: -9em;
}

.mb-9-m {
  margin-bottom: -9em;
}

.pt-9-m {
  padding-top: -9em;
}

.pb-9-m {
  padding-bottom: -9em;
}

.mt-10 {
  margin-top: 10em;
}

.mb-10 {
  margin-bottom: 10em;
}

.pt-10 {
  padding-top: 10em;
}

.pb-10 {
  padding-bottom: 10em;
}

.mt-10-m {
  margin-top: -10em;
}

.mb-10-m {
  margin-bottom: -10em;
}

.pt-10-m {
  padding-top: -10em;
}

.pb-10-m {
  padding-bottom: -10em;
}

.light-bg {
  background-color: #393e46;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  float: left;
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
}

.navbar__brand__dot {
  color: #00adb5;
  font-size: 2em;
}

.navbar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  float: right;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar__link__item {
  font-size: 1em;
  font-weight: 600;
  padding: 0 2rem;
}

.navbar__link__item a {
  text-decoration: none;
  color: #fff;
}

.hero {
  margin-bottom: 2rem;
}

.hero__header {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 3px;
  text-align: left;
  color: #00adb5;
}

.hero__subHeader {
  font-family: Helvetica;
  font-size: 2.3em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #eeeeee;
}

p {
  line-height: 1.4;
}

.btn {
  min-height: 3em;
  width: auto;
  padding: 1.2em 2em;
  min-width: 10rem;
  font-weight: bold;
  border-radius: 2px;
  border: solid 0.15em #00adb5;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  color: #00adb5;
  cursor: pointer;
}

.active a {
  color: #00adb5 !important;
  padding-bottom: 0.2em;
  border-bottom: 2px solid #00adb5;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.about {
  min-height: 720px;
  height: 100vh;
}

.about__content {
  display: block;
  height: 650px;
}

.about__img {
  max-width: 100%;
  -webkit-box-shadow: 40px 43px 33px -33px rgba(0, 0, 0, 0.3);
          box-shadow: 40px 43px 33px -33px rgba(0, 0, 0, 0.3);
}

.skill .totalProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00adb5;
}

.skill .totalProject__count {
  font-weight: bold;
  font-size: 2.5em;
}

.skill .totalProject__desc {
  text-transform: uppercase;
  margin-left: 1.2em;
  font-size: 1em;
  font-weight: 600;
}

.process-list__title {
  font-size: 1.2em;
  font-weight: bold;
}

.process-list__desc {
  margin-top: 1em;
  opacity: 0.7;
}

.blog__content__post__img {
  max-width: 100%;
}

.blog__content__post__title {
  font-size: 1em;
  font-weight: bold;
  color: #00adb5;
}
/*# sourceMappingURL=base.css.map */