// font-family: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
$light: #393e46;
$dark: #222831;
$white: #fff;
$primary: #00adb5;

body,
html {
    background-color: $dark;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #eeeeee;
    font-family: Helvetica;
    font-size: 16px;

}

.container {
    display: block;
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

// ini grid system cuk plajarin wkwkwk :v
// tapi lebih enak pake flex, ini optional klo project kecil enakan ini 


// jumlah coloumn cuk , normal e (n % genep) = 0
$col: 12;

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(0, auto);
    grid-gap: 1em;

    @for $i from 1 through $col {
        @for $j from 1 through $col {
            @if $i < $j {
                .col#{$i}-#{$j} {
                    grid-column: #{$i} / #{$j+1};
                }
            }
        }
    }

    // khusus buat grid ke 12 
    .col12 {
        grid-column: 12/13;
    }
}

// buat margin sama padding mamank :v 
@for $i from 1 through 10 {
    .mt-#{$i} {
        margin-top: #{$i}em;
    }

    .mb-#{$i} {
        margin-bottom: #{$i}em;
    }

    .pt-#{$i} {
        padding-top: #{$i}em;
    }

    .pb-#{$i} {
        padding-bottom: #{$i}em;
    }

    // buat minus 
    .mt-#{$i}-m {
        margin-top: -#{$i}em;
    }

    .mb-#{$i}-m {
        margin-bottom: -#{$i}em;
    }

    .pt-#{$i}-m {
        padding-top: -#{$i}em;
    }

    .pb-#{$i}-m {
        padding-bottom: -#{$i}em;
    }

}

// ini yg buat background cukkk
.light-bg {
    background-color: $light;
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 5rem;
    align-items: center;

    &__brand {
        display: flex;
        align-items: center;
        text-decoration: none;
        float: left;
        color: $white;
        font-size: 2em;
        text-transform: uppercase;

        &__dot {
            color: $primary;
            font-size: 2em;
        }
    }

    &__link {
        display: flex;
        flex-direction: row;
        float: right;
        margin-left: auto;
        margin-top: 0;
        margin-bottom: 0;

        &__item {
            font-size: 1em;
            font-weight: 600;
            padding: 0 2rem;

            a {
                text-decoration: none;
                color: $white;
            }
        }
    }
}


.hero {
    margin-bottom: 2rem;

    &__header {
        font-family: 'Open Sans', sans-serif;
        font-size: 1em;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.75;
        letter-spacing: 3px;
        text-align: left;
        color: #00adb5;

    }

    &__subHeader {
        font-family: Helvetica;
        font-size: 2.3em;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #eeeeee;
    }
}

p {
    line-height: 1.4;
}

// buat button mamank 
.btn {
    min-height: 3em;
    width: auto;
    padding: 1.2em 2em;
    min-width: 10rem;
    font-weight: bold;
    border-radius: 2px;
    border: solid 0.15em $primary;
    background-color: rgba($color: #000000, $alpha: 0);
    text-decoration: none;
    color: $primary;
    cursor: pointer;
}

.active {
    a {
        color: $primary !important;
        padding-bottom: 0.2em;
        border-bottom: 2px solid $primary;
    }

}


// buat layar pc asw
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}



// ini custom style cukk
.about {
    min-height: 720px;
    height: 100vh;

    &__content {
        display: block;
        height: 650px;
    }

    &__img {
        max-width: 100%;
        box-shadow: 40px 43px 33px -33px rgba(0, 0, 0, 0.3);
    }
}

.skill {
    .totalProject {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $primary;

        &__count {
            font-weight: bold;
            font-size: 2.5em;
        }

        &__desc {
            text-transform: uppercase;
            margin-left: 1.2em;
            font-size: 1em;
            font-weight: 600;
        }
    }
}

.process {
    &-list {
        &__title {
            font-size: 1.2em;
            font-weight: bold;
        }

        &__desc {
            margin-top: 1em;
            opacity: 0.7;
        }
    }
}

.blog{
    &__content{
        &__post{
            &__img{
                max-width: 100%;
            }
            &__title{
                font-size: 1em;
                font-weight: bold;
                color: $primary
            }
        }
    }
}